/* Global */
.primary-color {
    color: #02C26A;
}

section {
    height: auto;
    padding: 20px 10px;
    overflow: hidden;
}
/* Global */

/* Navbar */

/* Navbar */
nav {
    background-color: #02C26A !important;
}

nav .navbar-toggler{
    border-color: #FFF !important;
}

/* Navbar */

/* Banner */
@import url('https://fonts.googleapis.com/css?family=Dosis:800&display=swap');
section#banner h1 {

    color: #02C26A;
    font-size: 50px;
    font-family: 'Dosis', sans-serif;

}
/* Banner */

/* About */
section#about {

}
/* About */

/* Symptoms */
@media screen and (min-width: 480px) {
    section#symptomes {
        height: 700px;
    }
}


section#symptomes ul li{
    color: #02C26A;
}

section#symptomes p:last-of-type {
    margin-bottom: 10px;
}

section#symptomes .button {

    display: inline-block;
    background-color: #02C26A;
    color: #fff;
    padding: 10px 25px;
    outline: none;
    text-decoration: none;
    /* border: none; */
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

section#symptomes .button:hover {
    background-color: #fff;
    color: #02C26A;
    border: 2px solid #02C26A;
    cursor: pointer;
}
/* Symptoms */

/* Footer */
#footer {
    background-color: #02C26A;
    color: #fff;
    padding: 10px 20px;
}
/* Footer */

/***** sick page *****/

section .green-num {
    color: #02C26A;
    font-size: 120px;
    font-family: 'Dosis', sans-serif;
}


/***** statistics page *****/

@media screen and (min-width: 480px) {
    section#stat-cards {
        min-height: 509px;
    }
}
section#stat-cards div.card {
    background-color: #02C26A !important;
    color: #fff !important;
}

section#stat-cards h1,
section#stat-cards h2 
{
    color: #02C26A;
}
